.anh {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  p>img {
    width: 20%;
    height: 150px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
    transition: box-shadow 0.3s, background-color 0.3s;
  }
  p>img:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    background-color: aqua;
  }