h4{
    
font-style: italic;
}
.ab{
    color: red;
}
.b{
    color: green;
}
.c{
    color:blue
}
.ac{
    color: red;
}
.a{
    color:brown;
}
.e{
    color: brown;
    
}
div{
    border-style:groove;
 width: 300px;
}